<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
		<link rel="stylesheet" type="text/css" href="styles/auth/demo.css" />
		<link rel="stylesheet" type="text/css" href="styles/auth/style.css" />
		<link rel="stylesheet" type="text/css" href="styles/auth/animate-custom.css" />
</head>
<body>
<div class="container">
<header>
                		<h1><span></span></h1>
			</header>
            <section>		
<div id="container_demo" >
<div id="wrapper">
<div id="login" class = "animate form">
    <form action="/login" method="post">
   <h1>Вход</h1> 
	<p>
        <label for="username" data-icon="u">Логин</label>
        <input type="text" name="username" placeholder="Например, AIvanov-ki1210"/>
	</p>
	<p>
        <label for ="password" class="youpasswd" data-icon = "p">Пароль</label>
        <input type="password" name="password" placeholder = "Введите пароль"/>
	</p>
    <div>
	
	<p class="login button">
        <input type="submit" value="Вход"/>
	</p>
				<p class="change_link">
					
					<a href="register" class="to_login">Зарегистрироваться</a>
				</p>
    </div>
</form>
</div>
</div>
</div>
</section>
</div>
</body>
</html>

